---

---

@import 'search';
@import 'pygments';
@import 'open_sans';
@import 'roboto';
@import 'style';

input{

  width: 100%;
  color: #9E9E9E;
  float: left;
  background: none;
  outline: none;
  font-size: 1em;
  padding: 1em 1em;
  margin-bottom: 1em;
  border: solid 1px #03A9F4;
  -webkit-appearance: none;
  display: inline-block;
}

textarea{
  resize: none;
  width: 100%;
  background: none;
  color: #999;
  font-size: 1em;
  outline: none;
  padding: 1em .8em;
  border: solid 1px #03A9F4;
  min-height: 12.5em;
  -webkit-appearance: none;
}

input[type=submit]{
  outline: none;
  color: #fff;
  padding: .5em 2em;
  margin-top: 12px;
  font-size: 1em;
  -webkit-appearance: none;
  background: #01bcfa;
  border: 1px solid #01bcfa;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  transition: 0.5s all;
  width: 40%;
  float: right;
  letter-spacing: 1px;
}

.contact-head{
  font-size: 3em;
  color: #9E9E9E;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Poppins', sans-serif;
}

